body {
  font-family: 'Poppins';
  font-size: 20px;
}

/* estilo da imagem */
.imagem {
  padding: 20px;
  width: 200px;
}

.header {

  background-color: rgb(8, 103, 136);
  background: linear-gradient(0deg, rgba(3, 29, 38, 1) 0%, rgba(29, 52, 209, 1) 100%);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  float: left;
}

.header ul {

  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

}

.header li a {

  display: block;
  padding: 0.7em 0.5em;
  text-decoration: none;
  transition: .3s;
  border-bottom: 1px #f7f7f7 solid;
  color: #ffffff;
}

.header li a:hover,
.header .btn-mobile:hover {
  background-color: #ffffff;
  color: #000000;
}

.header .logo {

  display: block;
  float: left;

}

.header .nav {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .mobile-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .mobile-icon .hamburguer {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon .hamburguer:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .mobile-icon .hamburguer:before {
  top: 5px;
}

.header .mobile-icon .hamburguer:after {
  top: -5px;
}

/* menu btn */
.header .mobile-btn {
  display: none;
}

.header .mobile-btn:checked~.nav {
  max-height: 240px;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer {
  background: transparent;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:before {
  transform: rotate(-45deg);
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:after {
  transform: rotate(45deg);
}

.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:before,
.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:after {
  top: 0;
}


/*table*/

tr:hover {
  background-color: #2F6C82;
  color: #fff;
}

thead {
  background-color: #2F6C82;
}

tr {
  border: #2F6C82;
  border-style: groove;
}

h1 {
  text-align: center;
}

#nomeFiltro {
  font-size: large;
}

#crud{
  border: #000000;
}

/* Estilo do botão filtro */
form button[type="submit"] {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  width: 15%;
  margin: 10px;
  margin-left: 40%;
}

/* Estilo do botão de envio do formulário ao passar o mouse */
form button[type="submit"]:hover {
  background-color: #2F6C82;
}

.container {
  width: 100%;
  float: center;
  margin-top: 100px;
  padding: 100px;
}

.content {
  float: left;
  width: 92%;
  margin: 0 4%;
}

.form {
  padding: 30px;
}



/* 48em = 768px */
@media (min-width: 48em) {

  .header li {
    float: left;
  }

  .header li a {

    padding: 25px 40px;
    margin-top: 15px;
    border-radius: 6px;

  }

  .header .nav {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .mobile-icon {
    display: none;
  }

  .header li a {

    transition: .3s;
    border-bottom: 0;

  }
}

/*Formulario*/
.formulario {

  max-width: 650px;
  text-align: center;
  margin: 20px auto;

}

.formulario input,
form textarea {

  border: 0;
  outline: 0;
  padding: 0.8em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 16px;
  font-family: 'open_sansregular';
  font-size: 16px;
  color: #424242;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

.formulario input:focus,
.formulario textarea:focus {

  color: #3cafe7;
  -moz-box-shadow: 0 0px 2px #3cafe7 !important;
  -webkit-box-shadow: 0 0px 2px #3cafe7 !important;
  box-shadow: 0 0px 2px #3cafe7 !important;

}

.formulario .btn-submit {

  color: #fff;
  background: #3cafe7;
  cursor: pointer;
  transition: 0.5s;

}

.formulario .btn-submit:hover {

  background-color: #424242;
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);

}

.formulario textarea {

  height: 174px;

}

.metade {

  float: left;
  width: 48%;
  margin-bottom: 1em;

}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 768px) {

  .metade {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }

}


/*botao*/

.glow-on-hover {
  width: 90px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 5px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(15deg,#002bff, #000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 10s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}